<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="recipe.name" class="img-responsive">

  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>

  </div>

</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appdropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a  style="cursor: pointer;"  (click)="addtoshoppinglist(recipe.ingredients)">Add To shopping list</a>
          </li>
          <li>
            <a >Edit Recipe </a>
          </li>
          <li>
            <a >Delete Recipe</a>
          </li>
        </ul>
   
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{recipe.desc}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">

    <ul class="list-group">

      <li class="list-group-item" *ngFor="let ingredint of recipe.ingredients">
      {{ingredint.name}}  {{ingredint.amount}}
      </li>
    </ul>
  
  </div>
</div>